<div class="tickets">
  <div class="search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" [(ngModel)]="searchDescription">
      <span class="input-group-addon" id="basic-addon1">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="actions">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </th>
        <th class="creator">Creator</th>
        <th class="description">Description</th>
        <th class="created">Created</th>
        <th class="due">Due</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets | ticketDescriptionFilter:searchDescription" class="ticket" scope="row" [ngClass]="{'complete': ticket.isDue}">
        <td class="actions">
          <span class="glyphicon glyphicon-pencil edit" (click)="editTicket(ticket)"></span>
          <span class="glyphicon glyphicon-remove delete" (click)="deleteTicket(ticket)"></span>
        </td>
        <td class="creator">{{ticket.creator}}</td>
        <td class="description">{{ticket.description}}</td>
        <td class="created">{{ticket.created}}</td>
        <td class="due">{{ticket.due}}</td>
        <!--
        <td class="status">
          <span *ngIf="order.isIncomplete" class="label label-default">Incomplete</span>
          <span *ngIf="order.isComplete" class="label label-success">Complete</span>
        </td>
      -->
      </tr>

      <!-- No orders are available -->
      <tr *ngIf="tickets.length === 0">
        <td colspan="4" class="no-tickets-message">No tickets currently available</td>
      </tr>
    </tbody>
  </table>
  <div class="general-actions">
    <button type="button" class="btn btn-primary" (click)="createTicket()">
      <span class="glyphicon glyphicon-plus"></span> Create</button>
  </div>
</div>
